---
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: kibana-prometheus-exporter
  namespace: default
  labels:
    app: kibana-prometheus-exporter
spec:
  selector:
    matchLabels:
      app: kibana-prometheus-exporter
  template:
    metadata:
      labels:
        app: kibana-prometheus-exporter 
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: kibana-prometheus-exporter
        image: chamilad/kibana-prometheus-exporter:v7.5.x.1-latest
        args: [
          "-kibana.uri", "http://kibana:5601",
        ]
        securityContext:
          privileged: false
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - SETPCAP
            - MKNOD
            - AUDIT_WRITE
            - CHOWN
            - NET_RAW
            - DAC_OVERRIDE
            - FOWNER
            - FSETID
            - KILL
            - SETGID
            - SETUID
            - NET_BIND_SERVICE
            - SYS_CHROOT
            - SETFCAP
        resources:
          limits:
            memory: 100Mi
            cpu: 100m
          requests:
            cpu: 10m
            memory: 50Mi
        ports:
          - containerPort: 9684
---
kind: Service
apiVersion: v1
metadata:
  name: kibana-exporter
  labels:
    app: kibana-prometheus-exporter
  annotations:
    prometheus.io/port: "9684"
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9684
      protocol: TCP
  selector:
    app: kibana-prometheus-exporter
